extends layout 

block content
  header.index-presentation
    h1 Winner screen 
  div.players-form 
    h1 Players:
    h4 #{player_1}
    h4 #{player_2}
    h4 #{player_3}
    h1 Winner: 
    h3 #{winner}